

body{
    --text-color: black;
    background-color: lightpink;
    background-image: url('assets/pinkTheme/pinkBalloons.png');
    background-size: cover;
    background-repeat: no-repeat; 
  
  }
  