
body{
    --text-color: #0a2b4e;
    background-color: #a71814;
    background-image: url('assets/spidermanTheme/spiderweb.png');
    background-size: cover;
    background-repeat: no-repeat; 
  
  }
  
 

