.navbar {
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #d4ecff;
  height: 60px;
  margin: 0; /* Remove unwanted margins */
  padding: 1rem;
  box-sizing: border-box;
  inline-size: max-content; 
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem; 
  font-size: 1rem;
}


