
.create-event-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

.event-title {
  font-size: 24px;
  width: 35%;
  padding: 8px;
  margin-right: 20%
}

.theme-selector {
  width: 200px;
  padding: 8px;
  font-size: 16px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.event-description {
  width: 60%;
  height: 200px;
  border: 1px solid grey;
  padding: 10px;
  font-size: 16px;
  margin-right:35px;
}

.details {
  width: 30%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.image-upload img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attendance {
  display: flex; 
  gap: 10px; 
}

.attendance label {
  font-size: 16px;
}
.buttons {
  display: flex;
  gap: 10px;
}

.save-btn, .publish-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.save-btn:hover, .publish-btn:hover {
  background-color: grey;
}

.extra-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    gap: 10px; /* Smaller gap for mobile */
  }

  .attendance-options {
    display: flex;
    flex-direction: row; /* Align attendance options horizontally */
    justify-content: space-around;
  }
}