/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;500;700&display=swap');

/* Global Variables */
:root {
  --primary-color: #d4ecff;
  --text-color: black;
  --white: white;
  --black: black;
}

/* Headers */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

/* Titles */
.event-title {
  font-size: 24px;
  width: 35%;
  padding: 8px;
  margin-right: 20%;
}

/* Body Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins';
}

input, textarea, select {
  font-family: 'Poppins', sans-serif;
  font-weight: 300; 
}

/* Button Styles */
.button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}

input, select, textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  background: #f9f9f9;
}

input:focus, select:focus, textarea:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background: #fff;
}

.dropdown:hover {
  display: block;
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  .event-title {
    margin-top: -50px;
    width: 90%;
    font-size: 20px;
  }
}