

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #d4ecff;
  height: 60px;
  width: 100vw;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  position: fixed; /* Keeps navbar at the top */
  z-index: 1000;
  top: 0;
  left: 0;
}

main {
  margin-top: 70px; /* Pushes the content below the navbar */
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

/* Hamburger Menu */
.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu i,
.calendar-link i {
  color: black;
  font-size: 1.5rem;
}

/* Search Bar */
.search-bar {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

/* Profile Icon */
.profile-link i {
  color: black;
  font-size: 1.5rem;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  top: 60px; 
  left: 0;
  background-color: #d4ecff;
  list-style: none;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 0.5rem 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  color: #007bff;
}

.profile-dropdown {
  position: absolute;
  top: 500px; 
  right: 100px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  list-style: none;
  padding: 8px 0;
  z-index: 1000;
}

.profile-dropdown li {
  padding: 8px 16px;
  cursor: pointer;
}
