
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .signup-form {
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    
  }
  
  .signup-form h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
  }
  
  .login-text {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .login-text a {
    color: red;
    text-decoration: none;
  }
  
  .login-text a:hover {
    text-decoration: underline;
  }
  
  .error-messages {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error-message {
    color: red;
    text-align: center;
    font-size: 1rem;
  }

  /* Ensuring inputs and the select field are the same width */
.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="email"],
.signup-form select {
  width: 100%; 
  padding: 0.8rem;  
  margin-bottom: 1rem;  
  border-radius: 5px;  
  border: 1px solid #ccc;  
  box-sizing: border-box; 
}

  .signup-form select {
    -webkit-appearance: none;  
    -moz-appearance: none;
    appearance: none;
    background-size: 12px;
    
  }